
<h2>LOGIN</h2>

<form action="/Login/ChecarLogin" method="post">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="form-label">Usuário</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="nome@exemplo.com" value="" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" Name="PassWord" id="PassWord" placeholder="sua senha" value="" />
        </div>
    </div>
    <br />   
    <p class="alert ">
        @ViewBag.Erro
    </p>
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </div>

</form>

